<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>华软图书</title>

    <script type="text/javascript" src="/static/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <script src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/stu/showbook.js?v=1"></script>
</head>
<body class="layui-layout-body">
<div class="layui-container">
    <div class="layui-row layui-col-space10 bookListRow"></div>
    <div id="pageable"></div>
</div>
</body>
</html>