<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <script src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/adm/liblist.js?v=0"></script>
</head>
<body>
<table class="layui-hide" id="liblist" lay-filter="libararians"></table>
</body>
</html>