<!DOCTYPE>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>登录华软图书</title>

    <link rel="stylesheet" type="text/css" href="/static/css/login.css">

    <script type="text/javascript" src="/static/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/static/js/vector.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>

</head>
<body>

<div id="container">
    <div id="output">
        <!-- 学生登录 -->
        <div class="containerT trans1">
            <h1 style="font-weight:bold;">学生登录</h1>
            <div class="shift">
                <div class="left" onclick="transLeft()">&lt;</div>
                <div class="right" onclick="transRight()">&gt;</div>
            </div>
            <form class="formStu" action="/login/stu" method="post"
                  onsubmit="return verifyStu()">
                <input type="text" class="input" placeholder="学号" name="num"/>
                <input type="password" class="input" placeholder="密码" name="password"/>
                <input type="submit" class="entry_btn" value="登录"/>
                <div class="prompt" th:text="${stuError }"></div>
            </form>
        </div>
        <!-- 管理员登录 -->
        <div class="containerT trans2">
            <h1 style="font-weight:bold;">图书管理员登录</h1>
            <div class="shift">
                <div class="left" onclick="transLeft()">&lt;</div>
                <div class="right" onclick="transRight()">&gt;</div>
            </div>
            <form class="formLib" action="/login/lib" method="post"
                  onsubmit="return verifyLib()">
                <input type="text" class="input" placeholder="工号" name="num"/>
                <input type="password" class="input" placeholder="密码" name="password"/>
                <input type="submit" class="entry_btn" value="登录"/>
                <div class="prompt" th:text="${libError }"></div>
            </form>
        </div>
        <!-- 超级管理员登录 -->
        <div class="containerT  trans3">
            <h1 style="font-weight:bold;">超级管理员登录</h1>
            <div class="shift">
                <div class="left" onclick="transLeft()">&lt;</div>
                <div class="right" onclick="transRight()">&gt;</div>
            </div>
            <form class="formAdm" action="/login/adm" method="post"
                  onsubmit="return verifyAdm()">
                <input type="text" class="input" placeholder="编号" name="num"/>
                <input type="password" class="input" placeholder="密码" name="password"/>
                <input type="submit" class="entry_btn" value="登录"/>
                <div class="prompt" th:text="${admError }"></div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        Victor("container", "output");   //登录背景函数
        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                $(".trans1>form>.entry_btn").click();
            }
        });
    });
</script>
</body>
</html>